<table><caption><h1>Table teaser</h1></caption>
<td align="center">connect2d<br>
<img src="connect2d-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">hnncrust<br>
<img src="hnncrust-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">fitconnect<br>
<img src="fitconnect-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">stretchdenoise<br>
<img src="stretchdenoise-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">discur<br>
<img src="discur-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">vicur<br>
<img src="vicur-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">crawl<br>
<img src="crawl-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">peel<br>
<img src="peel-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">crust<br>
<img src="crust-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">nncrust<br>
<img src="nncrust-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">ccrust<br>
<img src="ccrust-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">gathan1<br>
<img src="gathan1-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">gathang<br>
<img src="gathang-bird28.png.txt.svg" width=200 height=200><br>
</td>
<td align="center">lenz<br>
<img src="lenz-bird28.png.txt.svg" width=200 height=200><br>
</td>
</table>
