<table><caption><h1>Table sharp-corners</h1></caption>
<td align="center">connect2d<br>
<img src="connect2d-sc1.txt.svg" width=200 height=200><br>
<img src="connect2d-sc2.txt.svg" width=200 height=200><br>
<img src="connect2d-sc3.txt.svg" width=200 height=200><br>
<img src="connect2d-sc4.txt.svg" width=200 height=200><br>
<img src="connect2d-sc5.txt.svg" width=200 height=200><br>
<img src="connect2d-sc6.txt.svg" width=200 height=200><br>
<img src="connect2d-sc7.txt.svg" width=200 height=200><br>
<img src="connect2d-sc8.txt.svg" width=200 height=200><br>
<img src="connect2d-sc9.txt.svg" width=200 height=200><br>
<img src="connect2d-sc10.txt.svg" width=200 height=200><br>
<img src="connect2d-sc11.txt.svg" width=200 height=200><br>
<img src="connect2d-sc12.txt.svg" width=200 height=200><br>
<img src="connect2d-sc13.txt.svg" width=200 height=200><br>
<img src="connect2d-sc14.txt.svg" width=200 height=200><br>
<img src="connect2d-sc15.txt.svg" width=200 height=200><br>
<img src="connect2d-sc16.txt.svg" width=200 height=200><br>
<img src="connect2d-sc17.txt.svg" width=200 height=200><br>
<img src="connect2d-sc18.txt.svg" width=200 height=200><br>
<img src="connect2d-sc19.txt.svg" width=200 height=200><br>
<img src="connect2d-sc20.txt.svg" width=200 height=200><br>
<img src="connect2d-sc21.txt.svg" width=200 height=200><br>
<img src="connect2d-test10_10.p2d.svg" width=200 height=200><br>
<img src="connect2d-test10_16.p2d.svg" width=200 height=200><br>
<img src="connect2d-test15_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test20_10.p2d.svg" width=200 height=200><br>
<img src="connect2d-test20_16.p2d.svg" width=200 height=200><br>
<img src="connect2d-test25_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test30_10.p2d.svg" width=200 height=200><br>
<img src="connect2d-test30_16.p2d.svg" width=200 height=200><br>
<img src="connect2d-test35_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test40_10.p2d.svg" width=200 height=200><br>
<img src="connect2d-test40_16.p2d.svg" width=200 height=200><br>
<img src="connect2d-test45_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test50_10.p2d.svg" width=200 height=200><br>
<img src="connect2d-test50_16.p2d.svg" width=200 height=200><br>
<img src="connect2d-test50_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test5_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test60_16.p2d.svg" width=200 height=200><br>
<img src="connect2d-test60_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test65_10.p2d.svg" width=200 height=200><br>
<img src="connect2d-test70_16.p2d.svg" width=200 height=200><br>
<img src="connect2d-test70_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test75_10.p2d.svg" width=200 height=200><br>
<img src="connect2d-test80_16.p2d.svg" width=200 height=200><br>
<img src="connect2d-test80_20.p2d.svg" width=200 height=200><br>
<img src="connect2d-test85_10.p2d.svg" width=200 height=200><br>
<img src="connect2d-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">hnncrust<br>
<img src="hnncrust-sc1.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc2.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc3.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc4.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc5.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc6.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc7.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc8.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc9.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc10.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc11.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc12.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc13.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc14.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc15.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc16.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc17.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc18.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc19.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc20.txt.svg" width=200 height=200><br>
<img src="hnncrust-sc21.txt.svg" width=200 height=200><br>
<img src="hnncrust-test10_10.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test10_16.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test15_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test20_10.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test20_16.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test25_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test30_10.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test30_16.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test35_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test40_10.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test40_16.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test45_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test50_10.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test50_16.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test50_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test5_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test60_16.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test60_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test65_10.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test70_16.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test70_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test75_10.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test80_16.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test80_20.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test85_10.p2d.svg" width=200 height=200><br>
<img src="hnncrust-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">fitconnect<br>
<img src="fitconnect-sc1.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc2.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc3.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc4.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc5.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc6.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc7.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc8.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc9.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc10.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc11.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc12.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc13.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc14.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc15.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc16.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc17.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc18.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc19.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc20.txt.svg" width=200 height=200><br>
<img src="fitconnect-sc21.txt.svg" width=200 height=200><br>
<img src="fitconnect-test10_10.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test10_16.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test15_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test20_10.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test20_16.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test25_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test30_10.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test30_16.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test35_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test40_10.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test40_16.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test45_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test50_10.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test50_16.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test50_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test5_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test60_16.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test60_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test65_10.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test70_16.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test70_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test75_10.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test80_16.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test80_20.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test85_10.p2d.svg" width=200 height=200><br>
<img src="fitconnect-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">discur<br>
<img src="discur-sc1.txt.svg" width=200 height=200><br>
<img src="discur-sc2.txt.svg" width=200 height=200><br>
<img src="discur-sc3.txt.svg" width=200 height=200><br>
<img src="discur-sc4.txt.svg" width=200 height=200><br>
<img src="discur-sc5.txt.svg" width=200 height=200><br>
<img src="discur-sc6.txt.svg" width=200 height=200><br>
<img src="discur-sc7.txt.svg" width=200 height=200><br>
<img src="discur-sc8.txt.svg" width=200 height=200><br>
<img src="discur-sc9.txt.svg" width=200 height=200><br>
<img src="discur-sc10.txt.svg" width=200 height=200><br>
<img src="discur-sc11.txt.svg" width=200 height=200><br>
<img src="discur-sc12.txt.svg" width=200 height=200><br>
<img src="discur-sc13.txt.svg" width=200 height=200><br>
<img src="discur-sc14.txt.svg" width=200 height=200><br>
<img src="discur-sc15.txt.svg" width=200 height=200><br>
<img src="discur-sc16.txt.svg" width=200 height=200><br>
<img src="discur-sc17.txt.svg" width=200 height=200><br>
<img src="discur-sc18.txt.svg" width=200 height=200><br>
<img src="discur-sc19.txt.svg" width=200 height=200><br>
<img src="discur-sc20.txt.svg" width=200 height=200><br>
<img src="discur-sc21.txt.svg" width=200 height=200><br>
<img src="discur-test10_10.p2d.svg" width=200 height=200><br>
<img src="discur-test10_16.p2d.svg" width=200 height=200><br>
<img src="discur-test15_20.p2d.svg" width=200 height=200><br>
<img src="discur-test20_10.p2d.svg" width=200 height=200><br>
<img src="discur-test20_16.p2d.svg" width=200 height=200><br>
<img src="discur-test25_20.p2d.svg" width=200 height=200><br>
<img src="discur-test30_10.p2d.svg" width=200 height=200><br>
<img src="discur-test30_16.p2d.svg" width=200 height=200><br>
<img src="discur-test35_20.p2d.svg" width=200 height=200><br>
<img src="discur-test40_10.p2d.svg" width=200 height=200><br>
<img src="discur-test40_16.p2d.svg" width=200 height=200><br>
<img src="discur-test45_20.p2d.svg" width=200 height=200><br>
<img src="discur-test50_10.p2d.svg" width=200 height=200><br>
<img src="discur-test50_16.p2d.svg" width=200 height=200><br>
<img src="discur-test50_20.p2d.svg" width=200 height=200><br>
<img src="discur-test5_20.p2d.svg" width=200 height=200><br>
<img src="discur-test60_16.p2d.svg" width=200 height=200><br>
<img src="discur-test60_20.p2d.svg" width=200 height=200><br>
<img src="discur-test65_10.p2d.svg" width=200 height=200><br>
<img src="discur-test70_16.p2d.svg" width=200 height=200><br>
<img src="discur-test70_20.p2d.svg" width=200 height=200><br>
<img src="discur-test75_10.p2d.svg" width=200 height=200><br>
<img src="discur-test80_16.p2d.svg" width=200 height=200><br>
<img src="discur-test80_20.p2d.svg" width=200 height=200><br>
<img src="discur-test85_10.p2d.svg" width=200 height=200><br>
<img src="discur-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">vicur<br>
<img src="vicur-sc1.txt.svg" width=200 height=200><br>
<img src="vicur-sc2.txt.svg" width=200 height=200><br>
<img src="vicur-sc3.txt.svg" width=200 height=200><br>
<img src="vicur-sc4.txt.svg" width=200 height=200><br>
<img src="vicur-sc5.txt.svg" width=200 height=200><br>
<img src="vicur-sc6.txt.svg" width=200 height=200><br>
<img src="vicur-sc7.txt.svg" width=200 height=200><br>
<img src="vicur-sc8.txt.svg" width=200 height=200><br>
<img src="vicur-sc9.txt.svg" width=200 height=200><br>
<img src="vicur-sc10.txt.svg" width=200 height=200><br>
<img src="vicur-sc11.txt.svg" width=200 height=200><br>
<img src="vicur-sc12.txt.svg" width=200 height=200><br>
<img src="vicur-sc13.txt.svg" width=200 height=200><br>
<img src="vicur-sc14.txt.svg" width=200 height=200><br>
<img src="vicur-sc15.txt.svg" width=200 height=200><br>
<img src="vicur-sc16.txt.svg" width=200 height=200><br>
<img src="vicur-sc17.txt.svg" width=200 height=200><br>
<img src="vicur-sc18.txt.svg" width=200 height=200><br>
<img src="vicur-sc19.txt.svg" width=200 height=200><br>
<img src="vicur-sc20.txt.svg" width=200 height=200><br>
<img src="vicur-sc21.txt.svg" width=200 height=200><br>
<img src="vicur-test10_10.p2d.svg" width=200 height=200><br>
<img src="vicur-test10_16.p2d.svg" width=200 height=200><br>
<img src="vicur-test15_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test20_10.p2d.svg" width=200 height=200><br>
<img src="vicur-test20_16.p2d.svg" width=200 height=200><br>
<img src="vicur-test25_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test30_10.p2d.svg" width=200 height=200><br>
<img src="vicur-test30_16.p2d.svg" width=200 height=200><br>
<img src="vicur-test35_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test40_10.p2d.svg" width=200 height=200><br>
<img src="vicur-test40_16.p2d.svg" width=200 height=200><br>
<img src="vicur-test45_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test50_10.p2d.svg" width=200 height=200><br>
<img src="vicur-test50_16.p2d.svg" width=200 height=200><br>
<img src="vicur-test50_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test5_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test60_16.p2d.svg" width=200 height=200><br>
<img src="vicur-test60_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test65_10.p2d.svg" width=200 height=200><br>
<img src="vicur-test70_16.p2d.svg" width=200 height=200><br>
<img src="vicur-test70_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test75_10.p2d.svg" width=200 height=200><br>
<img src="vicur-test80_16.p2d.svg" width=200 height=200><br>
<img src="vicur-test80_20.p2d.svg" width=200 height=200><br>
<img src="vicur-test85_10.p2d.svg" width=200 height=200><br>
<img src="vicur-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">crawl<br>
<img src="crawl-sc1.txt.svg" width=200 height=200><br>
<img src="crawl-sc2.txt.svg" width=200 height=200><br>
<img src="crawl-sc3.txt.svg" width=200 height=200><br>
<img src="crawl-sc4.txt.svg" width=200 height=200><br>
<img src="crawl-sc5.txt.svg" width=200 height=200><br>
<img src="crawl-sc6.txt.svg" width=200 height=200><br>
<img src="crawl-sc7.txt.svg" width=200 height=200><br>
<img src="crawl-sc8.txt.svg" width=200 height=200><br>
<img src="crawl-sc9.txt.svg" width=200 height=200><br>
<img src="crawl-sc10.txt.svg" width=200 height=200><br>
<img src="crawl-sc11.txt.svg" width=200 height=200><br>
<img src="crawl-sc12.txt.svg" width=200 height=200><br>
<img src="crawl-sc13.txt.svg" width=200 height=200><br>
<img src="crawl-sc14.txt.svg" width=200 height=200><br>
<img src="crawl-sc15.txt.svg" width=200 height=200><br>
<img src="crawl-sc16.txt.svg" width=200 height=200><br>
<img src="crawl-sc17.txt.svg" width=200 height=200><br>
<img src="crawl-sc18.txt.svg" width=200 height=200><br>
<img src="crawl-sc19.txt.svg" width=200 height=200><br>
<img src="crawl-sc20.txt.svg" width=200 height=200><br>
<img src="crawl-sc21.txt.svg" width=200 height=200><br>
<img src="crawl-test10_10.p2d.svg" width=200 height=200><br>
<img src="crawl-test10_16.p2d.svg" width=200 height=200><br>
<img src="crawl-test15_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test20_10.p2d.svg" width=200 height=200><br>
<img src="crawl-test20_16.p2d.svg" width=200 height=200><br>
<img src="crawl-test25_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test30_10.p2d.svg" width=200 height=200><br>
<img src="crawl-test30_16.p2d.svg" width=200 height=200><br>
<img src="crawl-test35_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test40_10.p2d.svg" width=200 height=200><br>
<img src="crawl-test40_16.p2d.svg" width=200 height=200><br>
<img src="crawl-test45_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test50_10.p2d.svg" width=200 height=200><br>
<img src="crawl-test50_16.p2d.svg" width=200 height=200><br>
<img src="crawl-test50_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test5_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test60_16.p2d.svg" width=200 height=200><br>
<img src="crawl-test60_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test65_10.p2d.svg" width=200 height=200><br>
<img src="crawl-test70_16.p2d.svg" width=200 height=200><br>
<img src="crawl-test70_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test75_10.p2d.svg" width=200 height=200><br>
<img src="crawl-test80_16.p2d.svg" width=200 height=200><br>
<img src="crawl-test80_20.p2d.svg" width=200 height=200><br>
<img src="crawl-test85_10.p2d.svg" width=200 height=200><br>
<img src="crawl-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">peel<br>
<img src="peel-sc1.txt.svg" width=200 height=200><br>
<img src="peel-sc2.txt.svg" width=200 height=200><br>
<img src="peel-sc3.txt.svg" width=200 height=200><br>
<img src="peel-sc4.txt.svg" width=200 height=200><br>
<img src="peel-sc5.txt.svg" width=200 height=200><br>
<img src="peel-sc6.txt.svg" width=200 height=200><br>
<img src="peel-sc7.txt.svg" width=200 height=200><br>
<img src="peel-sc8.txt.svg" width=200 height=200><br>
<img src="peel-sc9.txt.svg" width=200 height=200><br>
<img src="peel-sc10.txt.svg" width=200 height=200><br>
<img src="peel-sc11.txt.svg" width=200 height=200><br>
<img src="peel-sc12.txt.svg" width=200 height=200><br>
<img src="peel-sc13.txt.svg" width=200 height=200><br>
<img src="peel-sc14.txt.svg" width=200 height=200><br>
<img src="peel-sc15.txt.svg" width=200 height=200><br>
<img src="peel-sc16.txt.svg" width=200 height=200><br>
<img src="peel-sc17.txt.svg" width=200 height=200><br>
<img src="peel-sc18.txt.svg" width=200 height=200><br>
<img src="peel-sc19.txt.svg" width=200 height=200><br>
<img src="peel-sc20.txt.svg" width=200 height=200><br>
<img src="peel-sc21.txt.svg" width=200 height=200><br>
<img src="peel-test10_10.p2d.svg" width=200 height=200><br>
<img src="peel-test10_16.p2d.svg" width=200 height=200><br>
<img src="peel-test15_20.p2d.svg" width=200 height=200><br>
<img src="peel-test20_10.p2d.svg" width=200 height=200><br>
<img src="peel-test20_16.p2d.svg" width=200 height=200><br>
<img src="peel-test25_20.p2d.svg" width=200 height=200><br>
<img src="peel-test30_10.p2d.svg" width=200 height=200><br>
<img src="peel-test30_16.p2d.svg" width=200 height=200><br>
<img src="peel-test35_20.p2d.svg" width=200 height=200><br>
<img src="peel-test40_10.p2d.svg" width=200 height=200><br>
<img src="peel-test40_16.p2d.svg" width=200 height=200><br>
<img src="peel-test45_20.p2d.svg" width=200 height=200><br>
<img src="peel-test50_10.p2d.svg" width=200 height=200><br>
<img src="peel-test50_16.p2d.svg" width=200 height=200><br>
<img src="peel-test50_20.p2d.svg" width=200 height=200><br>
<img src="peel-test5_20.p2d.svg" width=200 height=200><br>
<img src="peel-test60_16.p2d.svg" width=200 height=200><br>
<img src="peel-test60_20.p2d.svg" width=200 height=200><br>
<img src="peel-test65_10.p2d.svg" width=200 height=200><br>
<img src="peel-test70_16.p2d.svg" width=200 height=200><br>
<img src="peel-test70_20.p2d.svg" width=200 height=200><br>
<img src="peel-test75_10.p2d.svg" width=200 height=200><br>
<img src="peel-test80_16.p2d.svg" width=200 height=200><br>
<img src="peel-test80_20.p2d.svg" width=200 height=200><br>
<img src="peel-test85_10.p2d.svg" width=200 height=200><br>
<img src="peel-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">crust<br>
<img src="crust-sc1.txt.svg" width=200 height=200><br>
<img src="crust-sc2.txt.svg" width=200 height=200><br>
<img src="crust-sc3.txt.svg" width=200 height=200><br>
<img src="crust-sc4.txt.svg" width=200 height=200><br>
<img src="crust-sc5.txt.svg" width=200 height=200><br>
<img src="crust-sc6.txt.svg" width=200 height=200><br>
<img src="crust-sc7.txt.svg" width=200 height=200><br>
<img src="crust-sc8.txt.svg" width=200 height=200><br>
<img src="crust-sc9.txt.svg" width=200 height=200><br>
<img src="crust-sc10.txt.svg" width=200 height=200><br>
<img src="crust-sc11.txt.svg" width=200 height=200><br>
<img src="crust-sc12.txt.svg" width=200 height=200><br>
<img src="crust-sc13.txt.svg" width=200 height=200><br>
<img src="crust-sc14.txt.svg" width=200 height=200><br>
<img src="crust-sc15.txt.svg" width=200 height=200><br>
<img src="crust-sc16.txt.svg" width=200 height=200><br>
<img src="crust-sc17.txt.svg" width=200 height=200><br>
<img src="crust-sc18.txt.svg" width=200 height=200><br>
<img src="crust-sc19.txt.svg" width=200 height=200><br>
<img src="crust-sc20.txt.svg" width=200 height=200><br>
<img src="crust-sc21.txt.svg" width=200 height=200><br>
<img src="crust-test10_10.p2d.svg" width=200 height=200><br>
<img src="crust-test10_16.p2d.svg" width=200 height=200><br>
<img src="crust-test15_20.p2d.svg" width=200 height=200><br>
<img src="crust-test20_10.p2d.svg" width=200 height=200><br>
<img src="crust-test20_16.p2d.svg" width=200 height=200><br>
<img src="crust-test25_20.p2d.svg" width=200 height=200><br>
<img src="crust-test30_10.p2d.svg" width=200 height=200><br>
<img src="crust-test30_16.p2d.svg" width=200 height=200><br>
<img src="crust-test35_20.p2d.svg" width=200 height=200><br>
<img src="crust-test40_10.p2d.svg" width=200 height=200><br>
<img src="crust-test40_16.p2d.svg" width=200 height=200><br>
<img src="crust-test45_20.p2d.svg" width=200 height=200><br>
<img src="crust-test50_10.p2d.svg" width=200 height=200><br>
<img src="crust-test50_16.p2d.svg" width=200 height=200><br>
<img src="crust-test50_20.p2d.svg" width=200 height=200><br>
<img src="crust-test5_20.p2d.svg" width=200 height=200><br>
<img src="crust-test60_16.p2d.svg" width=200 height=200><br>
<img src="crust-test60_20.p2d.svg" width=200 height=200><br>
<img src="crust-test65_10.p2d.svg" width=200 height=200><br>
<img src="crust-test70_16.p2d.svg" width=200 height=200><br>
<img src="crust-test70_20.p2d.svg" width=200 height=200><br>
<img src="crust-test75_10.p2d.svg" width=200 height=200><br>
<img src="crust-test80_16.p2d.svg" width=200 height=200><br>
<img src="crust-test80_20.p2d.svg" width=200 height=200><br>
<img src="crust-test85_10.p2d.svg" width=200 height=200><br>
<img src="crust-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">nncrust<br>
<img src="nncrust-sc1.txt.svg" width=200 height=200><br>
<img src="nncrust-sc2.txt.svg" width=200 height=200><br>
<img src="nncrust-sc3.txt.svg" width=200 height=200><br>
<img src="nncrust-sc4.txt.svg" width=200 height=200><br>
<img src="nncrust-sc5.txt.svg" width=200 height=200><br>
<img src="nncrust-sc6.txt.svg" width=200 height=200><br>
<img src="nncrust-sc7.txt.svg" width=200 height=200><br>
<img src="nncrust-sc8.txt.svg" width=200 height=200><br>
<img src="nncrust-sc9.txt.svg" width=200 height=200><br>
<img src="nncrust-sc10.txt.svg" width=200 height=200><br>
<img src="nncrust-sc11.txt.svg" width=200 height=200><br>
<img src="nncrust-sc12.txt.svg" width=200 height=200><br>
<img src="nncrust-sc13.txt.svg" width=200 height=200><br>
<img src="nncrust-sc14.txt.svg" width=200 height=200><br>
<img src="nncrust-sc15.txt.svg" width=200 height=200><br>
<img src="nncrust-sc16.txt.svg" width=200 height=200><br>
<img src="nncrust-sc17.txt.svg" width=200 height=200><br>
<img src="nncrust-sc18.txt.svg" width=200 height=200><br>
<img src="nncrust-sc19.txt.svg" width=200 height=200><br>
<img src="nncrust-sc20.txt.svg" width=200 height=200><br>
<img src="nncrust-sc21.txt.svg" width=200 height=200><br>
<img src="nncrust-test10_10.p2d.svg" width=200 height=200><br>
<img src="nncrust-test10_16.p2d.svg" width=200 height=200><br>
<img src="nncrust-test15_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test20_10.p2d.svg" width=200 height=200><br>
<img src="nncrust-test20_16.p2d.svg" width=200 height=200><br>
<img src="nncrust-test25_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test30_10.p2d.svg" width=200 height=200><br>
<img src="nncrust-test30_16.p2d.svg" width=200 height=200><br>
<img src="nncrust-test35_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test40_10.p2d.svg" width=200 height=200><br>
<img src="nncrust-test40_16.p2d.svg" width=200 height=200><br>
<img src="nncrust-test45_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test50_10.p2d.svg" width=200 height=200><br>
<img src="nncrust-test50_16.p2d.svg" width=200 height=200><br>
<img src="nncrust-test50_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test5_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test60_16.p2d.svg" width=200 height=200><br>
<img src="nncrust-test60_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test65_10.p2d.svg" width=200 height=200><br>
<img src="nncrust-test70_16.p2d.svg" width=200 height=200><br>
<img src="nncrust-test70_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test75_10.p2d.svg" width=200 height=200><br>
<img src="nncrust-test80_16.p2d.svg" width=200 height=200><br>
<img src="nncrust-test80_20.p2d.svg" width=200 height=200><br>
<img src="nncrust-test85_10.p2d.svg" width=200 height=200><br>
<img src="nncrust-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">ccrust<br>
<img src="ccrust-sc1.txt.svg" width=200 height=200><br>
<img src="ccrust-sc2.txt.svg" width=200 height=200><br>
<img src="ccrust-sc3.txt.svg" width=200 height=200><br>
<img src="ccrust-sc4.txt.svg" width=200 height=200><br>
<img src="ccrust-sc5.txt.svg" width=200 height=200><br>
<img src="ccrust-sc6.txt.svg" width=200 height=200><br>
<img src="ccrust-sc7.txt.svg" width=200 height=200><br>
<img src="ccrust-sc8.txt.svg" width=200 height=200><br>
<img src="ccrust-sc9.txt.svg" width=200 height=200><br>
<img src="ccrust-sc10.txt.svg" width=200 height=200><br>
<img src="ccrust-sc11.txt.svg" width=200 height=200><br>
<img src="ccrust-sc12.txt.svg" width=200 height=200><br>
<img src="ccrust-sc13.txt.svg" width=200 height=200><br>
<img src="ccrust-sc14.txt.svg" width=200 height=200><br>
<img src="ccrust-sc15.txt.svg" width=200 height=200><br>
<img src="ccrust-sc16.txt.svg" width=200 height=200><br>
<img src="ccrust-sc17.txt.svg" width=200 height=200><br>
<img src="ccrust-sc18.txt.svg" width=200 height=200><br>
<img src="ccrust-sc19.txt.svg" width=200 height=200><br>
<img src="ccrust-sc20.txt.svg" width=200 height=200><br>
<img src="ccrust-sc21.txt.svg" width=200 height=200><br>
<img src="ccrust-test10_10.p2d.svg" width=200 height=200><br>
<img src="ccrust-test10_16.p2d.svg" width=200 height=200><br>
<img src="ccrust-test15_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test20_10.p2d.svg" width=200 height=200><br>
<img src="ccrust-test20_16.p2d.svg" width=200 height=200><br>
<img src="ccrust-test25_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test30_10.p2d.svg" width=200 height=200><br>
<img src="ccrust-test30_16.p2d.svg" width=200 height=200><br>
<img src="ccrust-test35_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test40_10.p2d.svg" width=200 height=200><br>
<img src="ccrust-test40_16.p2d.svg" width=200 height=200><br>
<img src="ccrust-test45_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test50_10.p2d.svg" width=200 height=200><br>
<img src="ccrust-test50_16.p2d.svg" width=200 height=200><br>
<img src="ccrust-test50_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test5_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test60_16.p2d.svg" width=200 height=200><br>
<img src="ccrust-test60_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test65_10.p2d.svg" width=200 height=200><br>
<img src="ccrust-test70_16.p2d.svg" width=200 height=200><br>
<img src="ccrust-test70_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test75_10.p2d.svg" width=200 height=200><br>
<img src="ccrust-test80_16.p2d.svg" width=200 height=200><br>
<img src="ccrust-test80_20.p2d.svg" width=200 height=200><br>
<img src="ccrust-test85_10.p2d.svg" width=200 height=200><br>
<img src="ccrust-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">gathan1<br>
<img src="gathan1-sc1.txt.svg" width=200 height=200><br>
<img src="gathan1-sc2.txt.svg" width=200 height=200><br>
<img src="gathan1-sc3.txt.svg" width=200 height=200><br>
<img src="gathan1-sc4.txt.svg" width=200 height=200><br>
<img src="gathan1-sc5.txt.svg" width=200 height=200><br>
<img src="gathan1-sc6.txt.svg" width=200 height=200><br>
<img src="gathan1-sc7.txt.svg" width=200 height=200><br>
<img src="gathan1-sc8.txt.svg" width=200 height=200><br>
<img src="gathan1-sc9.txt.svg" width=200 height=200><br>
<img src="gathan1-sc10.txt.svg" width=200 height=200><br>
<img src="gathan1-sc11.txt.svg" width=200 height=200><br>
<img src="gathan1-sc12.txt.svg" width=200 height=200><br>
<img src="gathan1-sc13.txt.svg" width=200 height=200><br>
<img src="gathan1-sc14.txt.svg" width=200 height=200><br>
<img src="gathan1-sc15.txt.svg" width=200 height=200><br>
<img src="gathan1-sc16.txt.svg" width=200 height=200><br>
<img src="gathan1-sc17.txt.svg" width=200 height=200><br>
<img src="gathan1-sc18.txt.svg" width=200 height=200><br>
<img src="gathan1-sc19.txt.svg" width=200 height=200><br>
<img src="gathan1-sc20.txt.svg" width=200 height=200><br>
<img src="gathan1-sc21.txt.svg" width=200 height=200><br>
<img src="gathan1-test10_10.p2d.svg" width=200 height=200><br>
<img src="gathan1-test10_16.p2d.svg" width=200 height=200><br>
<img src="gathan1-test15_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test20_10.p2d.svg" width=200 height=200><br>
<img src="gathan1-test20_16.p2d.svg" width=200 height=200><br>
<img src="gathan1-test25_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test30_10.p2d.svg" width=200 height=200><br>
<img src="gathan1-test30_16.p2d.svg" width=200 height=200><br>
<img src="gathan1-test35_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test40_10.p2d.svg" width=200 height=200><br>
<img src="gathan1-test40_16.p2d.svg" width=200 height=200><br>
<img src="gathan1-test45_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test50_10.p2d.svg" width=200 height=200><br>
<img src="gathan1-test50_16.p2d.svg" width=200 height=200><br>
<img src="gathan1-test50_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test5_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test60_16.p2d.svg" width=200 height=200><br>
<img src="gathan1-test60_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test65_10.p2d.svg" width=200 height=200><br>
<img src="gathan1-test70_16.p2d.svg" width=200 height=200><br>
<img src="gathan1-test70_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test75_10.p2d.svg" width=200 height=200><br>
<img src="gathan1-test80_16.p2d.svg" width=200 height=200><br>
<img src="gathan1-test80_20.p2d.svg" width=200 height=200><br>
<img src="gathan1-test85_10.p2d.svg" width=200 height=200><br>
<img src="gathan1-test90_20.p2d.svg" width=200 height=200><br>
</td>
<td align="center">gathang<br>
<img src="gathang-sc1.txt.svg" width=200 height=200><br>
<img src="gathang-sc2.txt.svg" width=200 height=200><br>
<img src="gathang-sc3.txt.svg" width=200 height=200><br>
<img src="gathang-sc4.txt.svg" width=200 height=200><br>
<img src="gathang-sc5.txt.svg" width=200 height=200><br>
<img src="gathang-sc6.txt.svg" width=200 height=200><br>
<img src="gathang-sc7.txt.svg" width=200 height=200><br>
<img src="gathang-sc8.txt.svg" width=200 height=200><br>
<img src="gathang-sc9.txt.svg" width=200 height=200><br>
<img src="gathang-sc10.txt.svg" width=200 height=200><br>
<img src="gathang-sc11.txt.svg" width=200 height=200><br>
<img src="gathang-sc12.txt.svg" width=200 height=200><br>
<img src="gathang-sc13.txt.svg" width=200 height=200><br>
<img src="gathang-sc14.txt.svg" width=200 height=200><br>
<img src="gathang-sc15.txt.svg" width=200 height=200><br>
<img src="gathang-sc16.txt.svg" width=200 height=200><br>
<img src="gathang-sc17.txt.svg" width=200 height=200><br>
<img src="gathang-sc18.txt.svg" width=200 height=200><br>
<img src="gathang-sc19.txt.svg" width=200 height=200><br>
<img src="gathang-sc20.txt.svg" width=200 height=200><br>
<img src="gathang-sc21.txt.svg" width=200 height=200><br>
<img src="gathang-test10_10.p2d.svg" width=200 height=200><br>
<img src="gathang-test10_16.p2d.svg" width=200 height=200><br>
<img src="gathang-test15_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test20_10.p2d.svg" width=200 height=200><br>
<img src="gathang-test20_16.p2d.svg" width=200 height=200><br>
<img src="gathang-test25_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test30_10.p2d.svg" width=200 height=200><br>
<img src="gathang-test30_16.p2d.svg" width=200 height=200><br>
<img src="gathang-test35_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test40_10.p2d.svg" width=200 height=200><br>
<img src="gathang-test40_16.p2d.svg" width=200 height=200><br>
<img src="gathang-test45_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test50_10.p2d.svg" width=200 height=200><br>
<img src="gathang-test50_16.p2d.svg" width=200 height=200><br>
<img src="gathang-test50_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test5_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test60_16.p2d.svg" width=200 height=200><br>
<img src="gathang-test60_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test65_10.p2d.svg" width=200 height=200><br>
<img src="gathang-test70_16.p2d.svg" width=200 height=200><br>
<img src="gathang-test70_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test75_10.p2d.svg" width=200 height=200><br>
<img src="gathang-test80_16.p2d.svg" width=200 height=200><br>
<img src="gathang-test80_20.p2d.svg" width=200 height=200><br>
<img src="gathang-test85_10.p2d.svg" width=200 height=200><br>
<img src="gathang-test90_20.p2d.svg" width=200 height=200><br>
</td>
</table>
