<table><caption><h1>Table Non-manifold</h1></caption>
<td align="center">crust<br>
<img src="crust-Figure10.txt.svg" width=200 height=200><br>
<img src="crust-Figure16.txt.svg" width=200 height=200><br>
<img src="crust-nm10out.txt.svg" width=200 height=200><br>
<img src="crust-nm6out.txt.svg" width=200 height=200><br>
<img src="crust-OTFig18g.txt.svg" width=200 height=200><br>
<img src="crust-Figure14a.txt.svg" width=200 height=200><br>
<img src="crust-Figure19b.txt.svg" width=200 height=200><br>
<img src="crust-nm1out.txt.svg" width=200 height=200><br>
<img src="crust-nm7out.txt.svg" width=200 height=200><br>
<img src="crust-OTFig18k.txt.svg" width=200 height=200><br>
<img src="crust-Figure14b.txt.svg" width=200 height=200><br>
<img src="crust-Figure1.txt.svg" width=200 height=200><br>
<img src="crust-nm2out.txt.svg" width=200 height=200><br>
<img src="crust-nm8out.txt.svg" width=200 height=200><br>
<img src="crust-OTFig19b.txt.svg" width=200 height=200><br>
<img src="crust-Figure14c.txt.svg" width=200 height=200><br>
<img src="crust-Figure9.txt.svg" width=200 height=200><br>
<img src="crust-nm3out.txt.svg" width=200 height=200><br>
<img src="crust-nm9out.txt.svg" width=200 height=200><br>
<img src="crust-OTFig1.txt.svg" width=200 height=200><br>
<img src="crust-Figure14d.txt.svg" width=200 height=200><br>
<img src="crust-nm4out.txt.svg" width=200 height=200><br>
<img src="crust-OTFig14.txt.svg" width=200 height=200><br>
<img src="crust-Figure14e.txt.svg" width=200 height=200><br>
<img src="crust-nm5out.txt.svg" width=200 height=200><br>
<img src="crust-OTFig18a.txt.svg" width=200 height=200><br>
</td>
<td align="center">nncrust<br>
<img src="nncrust-Figure10.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure16.txt.svg" width=200 height=200><br>
<img src="nncrust-nm10out.txt.svg" width=200 height=200><br>
<img src="nncrust-nm6out.txt.svg" width=200 height=200><br>
<img src="nncrust-OTFig18g.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure14a.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure19b.txt.svg" width=200 height=200><br>
<img src="nncrust-nm1out.txt.svg" width=200 height=200><br>
<img src="nncrust-nm7out.txt.svg" width=200 height=200><br>
<img src="nncrust-OTFig18k.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure14b.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure1.txt.svg" width=200 height=200><br>
<img src="nncrust-nm2out.txt.svg" width=200 height=200><br>
<img src="nncrust-nm8out.txt.svg" width=200 height=200><br>
<img src="nncrust-OTFig19b.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure14c.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure9.txt.svg" width=200 height=200><br>
<img src="nncrust-nm3out.txt.svg" width=200 height=200><br>
<img src="nncrust-nm9out.txt.svg" width=200 height=200><br>
<img src="nncrust-OTFig1.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure14d.txt.svg" width=200 height=200><br>
<img src="nncrust-nm4out.txt.svg" width=200 height=200><br>
<img src="nncrust-OTFig14.txt.svg" width=200 height=200><br>
<img src="nncrust-Figure14e.txt.svg" width=200 height=200><br>
<img src="nncrust-nm5out.txt.svg" width=200 height=200><br>
<img src="nncrust-OTFig18a.txt.svg" width=200 height=200><br>
</td>
<td align="center">ccrust<br>
<img src="ccrust-Figure10.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure16.txt.svg" width=200 height=200><br>
<img src="ccrust-nm10out.txt.svg" width=200 height=200><br>
<img src="ccrust-nm6out.txt.svg" width=200 height=200><br>
<img src="ccrust-OTFig18g.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure14a.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure19b.txt.svg" width=200 height=200><br>
<img src="ccrust-nm1out.txt.svg" width=200 height=200><br>
<img src="ccrust-nm7out.txt.svg" width=200 height=200><br>
<img src="ccrust-OTFig18k.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure14b.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure1.txt.svg" width=200 height=200><br>
<img src="ccrust-nm2out.txt.svg" width=200 height=200><br>
<img src="ccrust-nm8out.txt.svg" width=200 height=200><br>
<img src="ccrust-OTFig19b.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure14c.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure9.txt.svg" width=200 height=200><br>
<img src="ccrust-nm3out.txt.svg" width=200 height=200><br>
<img src="ccrust-nm9out.txt.svg" width=200 height=200><br>
<img src="ccrust-OTFig1.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure14d.txt.svg" width=200 height=200><br>
<img src="ccrust-nm4out.txt.svg" width=200 height=200><br>
<img src="ccrust-OTFig14.txt.svg" width=200 height=200><br>
<img src="ccrust-Figure14e.txt.svg" width=200 height=200><br>
<img src="ccrust-nm5out.txt.svg" width=200 height=200><br>
<img src="ccrust-OTFig18a.txt.svg" width=200 height=200><br>
</td>
<td align="center">lenz<br>
<img src="lenz-Figure10.txt.svg" width=200 height=200><br>
<img src="lenz-Figure16.txt.svg" width=200 height=200><br>
<img src="lenz-nm10out.txt.svg" width=200 height=200><br>
<img src="lenz-nm6out.txt.svg" width=200 height=200><br>
<img src="lenz-OTFig18g.txt.svg" width=200 height=200><br>
<img src="lenz-Figure14a.txt.svg" width=200 height=200><br>
<img src="lenz-Figure19b.txt.svg" width=200 height=200><br>
<img src="lenz-nm1out.txt.svg" width=200 height=200><br>
<img src="lenz-nm7out.txt.svg" width=200 height=200><br>
<img src="lenz-OTFig18k.txt.svg" width=200 height=200><br>
<img src="lenz-Figure14b.txt.svg" width=200 height=200><br>
<img src="lenz-Figure1.txt.svg" width=200 height=200><br>
<img src="lenz-nm2out.txt.svg" width=200 height=200><br>
<img src="lenz-nm8out.txt.svg" width=200 height=200><br>
<img src="lenz-OTFig19b.txt.svg" width=200 height=200><br>
<img src="lenz-Figure14c.txt.svg" width=200 height=200><br>
<img src="lenz-Figure9.txt.svg" width=200 height=200><br>
<img src="lenz-nm3out.txt.svg" width=200 height=200><br>
<img src="lenz-nm9out.txt.svg" width=200 height=200><br>
<img src="lenz-OTFig1.txt.svg" width=200 height=200><br>
<img src="lenz-Figure14d.txt.svg" width=200 height=200><br>
<img src="lenz-nm4out.txt.svg" width=200 height=200><br>
<img src="lenz-OTFig14.txt.svg" width=200 height=200><br>
<img src="lenz-Figure14e.txt.svg" width=200 height=200><br>
<img src="lenz-nm5out.txt.svg" width=200 height=200><br>
<img src="lenz-OTFig18a.txt.svg" width=200 height=200><br>
</td>
<td align="center">peel<br>
<img src="peel-Figure10.txt.svg" width=200 height=200><br>
<img src="peel-Figure16.txt.svg" width=200 height=200><br>
<img src="peel-nm10out.txt.svg" width=200 height=200><br>
<img src="peel-nm6out.txt.svg" width=200 height=200><br>
<img src="peel-OTFig18g.txt.svg" width=200 height=200><br>
<img src="peel-Figure14a.txt.svg" width=200 height=200><br>
<img src="peel-Figure19b.txt.svg" width=200 height=200><br>
<img src="peel-nm1out.txt.svg" width=200 height=200><br>
<img src="peel-nm7out.txt.svg" width=200 height=200><br>
<img src="peel-OTFig18k.txt.svg" width=200 height=200><br>
<img src="peel-Figure14b.txt.svg" width=200 height=200><br>
<img src="peel-Figure1.txt.svg" width=200 height=200><br>
<img src="peel-nm2out.txt.svg" width=200 height=200><br>
<img src="peel-nm8out.txt.svg" width=200 height=200><br>
<img src="peel-OTFig19b.txt.svg" width=200 height=200><br>
<img src="peel-Figure14c.txt.svg" width=200 height=200><br>
<img src="peel-Figure9.txt.svg" width=200 height=200><br>
<img src="peel-nm3out.txt.svg" width=200 height=200><br>
<img src="peel-nm9out.txt.svg" width=200 height=200><br>
<img src="peel-OTFig1.txt.svg" width=200 height=200><br>
<img src="peel-Figure14d.txt.svg" width=200 height=200><br>
<img src="peel-nm4out.txt.svg" width=200 height=200><br>
<img src="peel-OTFig14.txt.svg" width=200 height=200><br>
<img src="peel-Figure14e.txt.svg" width=200 height=200><br>
<img src="peel-nm5out.txt.svg" width=200 height=200><br>
<img src="peel-OTFig18a.txt.svg" width=200 height=200><br>
</td>
</table>
